<h1>Login</h1>

<% if !@errors.nil? %>
          <div class="error">
           <%= @errors %> 
		   <%= @email %>
            
         </div>
       <% end %>

<%= form_tag "/login" %>

    <div class="form-group">
	  <label for="email">Email</label>
	  <%= text_field_tag(:email)  %>
    </div>
    
  
 <div class="form-group">
   <label for="password">Password</label>
   <%= text_field_tag(:password) %>
 </div>
  <br><br>
  <%= submit_tag "save this user" %>




