<div class="header">
  <h1>User's Information and Pins</h1>
  <h3>Board Selection for Repinning</h3>
</div>
<hr/>
<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<hr/>
<%= render partial: "shared/pins_list" %>
<hr/>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


			 
			
		