<p id="notice"><%= notice %></p>

<h1>Listing Followers</h1>

<table>
  <thead>
    <tr>
      <th>Follower</th>
      <th>Boards</th>
      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @followed.each do |follower| %>
      <tr>
        <td><%= follower.last_name %></td>
		<%= follower.boards.each do |board| %>
		<td><%= board.name %></td>
        <td><%= link_to 'Destroy', follower, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Follower', new_follower_path %>
