<div class="header">
  <% if !@board.nil? %>
    <h1><%= "Board Information" %></h1>
  <% else %>
    <h1><%= "New Board" %></h1>
  <% end %>
</div>
</hr>

   <div class="panel panel-default">
     <div class="panel-body"
  
      <p>
       <strong>Board Name:</strong>
       <%= @board.name %>
     </p>

     <p>
       <strong>User:</strong>
       <%= @board.user.last_name %>
  
    </p>
  </div>
</div>

</hr>
  <%= render partial: "shared/pins_list" %>
<hr/>

    <p id="notice"><%= notice %></p>
	  <% if @board.user_id == current_user.id %>
	    <%= link_to 'Edit', edit_board_path(@board) %> |
        <%= link_to 'Back', boards_path %>
	 <% else %>
        <%= link_to 'Back', boards_path %>
	 <% end %>
